<!DOCTYPE html>
<html>
  <head>
    <title>Newwebsite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id = "side_menu">
      <div class="preloader-wrapper active" style="left:40%; display:none;">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <ul id="slide-out" class="side-nav">
        <% ROOT_MENU.each do |menu| %>
          <li><a href="#" data-menu_id="<%= menu.id %>" class="menu_with_subitems"><i class="fa fa-chevron-right" aria-hidden="true"></i><%= menu.name%></a></li>
        <% end %>
        <li>
          <div class="divider"></div>
        </li>
      </ul>
    </div>
    <div class="container">
    <br/><br/>
      <div class='row hide-on-large-only'>
        <nav class="pinned" style="top:0px">
          <div class="nav-wrapper">            
			<a href="#" data-activates="slide-out" class="brand-logo-left" style="float:left;">  <i class="fa fa-bars fa-2x" aria-hidden="true" style="margin:0px 0px 0px 10px"></i></a>
			<a href="#"><%= image_tag("FKBLogo_white.svg",:id=>"mainlogo",:style=>"width:60%;max-width:360px; margin:5px 0px 0px 40px;") %></a>
          </div>
        </nav>
      </div>
      <div class = "row hide-on-med-and-down">
          <%= image_tag("FKBLogo.svg",:id=>"mainlogo",:style=>"width:60%") %>
      </div>
      <div class = "row hide-on-med-and-down">
        <nav id="mainmenu" style="z-index: 101;">
          <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="brand-logo">  <i class="fa fa-bars" aria-hidden="true" style="margin:0px 0px 0px 10px">  </i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
          </div>
        </nav>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
              <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
              <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>